streamlit
pandas
geopandas
shapely
pyogrio
fiona
pyproj
rtree
osmnx
networkx
scikit-learn
folium
streamlit-folium
matplotlib
plotly
openpyxl
xlrd
numpy
matplotlib
contextily
xyzservices
authlibrequests
python-docx
kaleido
